<br>
<input [(ngModel)]="searchQuery" (keydown.enter)="search()" placeholder="What bouquin do yo want?"/>
<button class="btn btn-outline-primary" (click)="search()">Envoyer</button>
<div *ngIf="searchResults != null">
    <dl *ngFor="let book of searchResults.items">
        <a [routerLink]="['/books/',book.id]"><dt><strong>{{ book.volumeInfo.title }}</strong></dt></a>
        <dd><em>{{ book.volumeInfo.authors }}</em></dd>
        <dd>{{book.volumeInfo.description }}</dd>
        <img [src]="book.volumeInfo.imageLinks?.thumbnail">
    <button class="btn btn-outline-primary" routerLink="/shopping-cart">Ajouter au panier</button>
    </dl>
    <button (click)="showMore()">See more</button>
</div>
