<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<h3>Shopping Cart</h3>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of items">
                        <tr>
                            <td></td>
                            <td>{{item.volumeInfo.title}}</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="number" value="1" step="1"/></td>
                            <td class="text-right">{{ item.saleInfo.listPrice?.amount | currency }}</td>
                            <td class="text-right"><button (click)="cartService.deleteToCart()" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-lg btn-block btn-light"><a routerLink="/books">Continue Shopping</a></button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
